body {
  padding: 10px;
}
#vote-options {
  width: 600px;
}
#vote-options td {
  padding: 5px;
  font-weight: bold;
}
#vote-options .btn-col {
  text-align: right;
}

#modal-txt {
  height: 70px;
  padding: 10px 0px 0px 60px;
}

#modal-txt.err {
  background: #fff url('/img/error.png') no-repeat left top;
}

#modal-txt.success {
  background: #fff url('/img/heart-full.png') no-repeat left top;
}
