<h3>Create your Topic</h3>

<div>
  <p>Enter your topic details below:</p>
  <form id="topicFrm" action="/topic" method="post"> 
    <div class="well">
      <div>
        <label for="name">Topic Name</label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <label for="option1">Option 1</label>
        <input type="text" id="option1" name="option1" />
      </div>
      <div>
        <label for="option2">Option 2</label>
        <input type="text" id="option2" name="option2" />
      </div>
      <div>
        <input class="btn btn-success" type="button" id="addAdditionalTopic" value="Add Another Option" />
      </div>
    </div>
    <div>
      <input class="btn btn-primary" type="submit" name="action" value="Submit" />
    </div>
  </form>
</div>