<h3>Start Voting</h3>

<form action="/topic/find" method="post"> 
  <div>
    <p>To vote on a topic, enter your email and topic code below...</p>
    <div class="well">
      <div>
        <input type="text" id="participant_name" placeholder="Your Name" name="participant_name" />
      </div>
      <div>
        <input type="email" id="participant_email" placeholder="Email" name="participant_email" />
      </div>
      <div>
        <input type="text" id="key" placeholder="Topic Access Code" name="key" />
      </div>
    </div>
    <div>
      <input class="btn btn-success" type="submit" name="action" value="Submit" />
    </div>
  </div>
</form>