<div>
  <p>To vote on a topic, enter your email and topic code below...</p>

  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
  </div>

  <div>
    <label for="code">Code</label>
    <input type="text" id="code" name="code" />
  </div>

  <div>
    
  </div>


</div>