<h3>Start Voting</h3>

<form action="/topic" method="get"> 
  <div>
    <p>To vote on a topic, enter your email and topic code below...</p>
    <div>
      <input type="email" id="email" placeholder="Email" name="email" />
    </div>
    <div>
      <input type="text" id="key" placeholder="Topic Access Code" name="key" />
    </div>
    <div>
      <input type="submit" name="action" value="Submit" />
    </div>
  </div>
</form>