<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voter</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/voter.css" rel="stylesheet" media="screen">  
  </head>
  <body>
    <header>
      <div class="row-fluid">
        <div class="span4">
          <h1>Voter</h1>
        </div>
        <div class="span8">
          Other stuff...
        </div>
      </div>
    </header>

    <%= yield %>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/voter.js"></script>

  </body>
</html>

