<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voter</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/voter.css" rel="stylesheet" media="screen">  
  </head>
  <body>
    <header>
      <div class="row-fluid">
        <div class="span12">
          <!-- Other stuff here -->
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/">Voter</a>
              <ul class="nav">
                <li class="<%= @linked_sel == 'create' ? 'active' : '' %>"><a href="/topic">Create Topic</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <p>
        <small>For your voting pleasure.</small>
      </p>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/voter.js"></script>

  </body>
</html>

