<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voter</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/voter.css" rel="stylesheet" media="screen">  
  </head>
  <body>
    <header>
      <div class="row-fluid">
        <div class="span2">
          <h1>Voter</h1>
        </div>
        <div class="span10">
          Other stuff...
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
          <ul>
            <li>Links</li>
            <li>Go</li>
            <li>Here</li>
          </ul>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <p>
        <small>For your voting pleasure.</small>
      </p>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/voter.js"></script>

  </body>
</html>

