<h3>Topic Created Successfully</h3>

<div class="well">
  <p>Your topic '<%= @params[:name] %>' was created successfully.</p>
  <p>Your topic key is: <strong><%= @key %></strong>.</p> 
  <p>Distribute this key to those you wish to vote on your topic!</p>
</div>